.features {
  align-items: center;
  padding: 2rem 0;
  width: 640px;
  height: 40%;
  margin: auto;
}

.features > .container {
  align-items: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: auto;
}

@media screen and (min-width: 640px) {
  .FeatureList2{
      display: grid;
      /*grid-template-columns: repeat(2, 1fr);*/
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  }
}

@media screen and (max-width: 640px) {
    .features {
        width: 100%;
    }
}

.FeatureList1{
  align-items: center;
}

.FeatureList2{
    align-items: center;
}

.title{
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  border: solid 11px #06adf4;
  border-radius: 100%;
  width: 210px;
  height: 210px;
  transition: 270ms;
  text-align: center;
}

.title > a{
  text-decoration: none;
}

.title > a > h1:hover{
  font-size: 1.9rem;
  transition: 250ms;
}

.FeatureList1 > .title > a > h1 {
  /* border-radius: 1%;
  display: table-cell;
  vertical-align: middle;
  margin: auto; */
  font-size: 1.7rem;
  line-height: 2rem;
  margin-top: 3.8rem;
}

.title>a>h1{
  font-size: 1.7rem;
  line-height: 2rem;
  margin-top: 3.5rem;
  transition: 250ms;
}

html[data-theme='light'] {
  --ifm-color-primary: #000;
}

html[data-theme='dark'] {
  --ifm-color-primary: #e9f8ff;
}

.FeatureList1 > .title > a > h1:hover{
  transition: 250ms;
  font-size: 1.8rem;
}