.box{
    background-color: transparent;
    /* margin: 0 auto; */
    width: 20rem;
    height: 12.9rem;
    position: relative;
    /* box-shadow: inset 0 0 20px rgb(251, 251, 251); */
    border-radius: 20px;
    border: 1px solid #06ADF4;
    overflow: hidden;
  }
  
.box>.b {
    display: block;
    width: 3rem;
    height: 3rem;
    background-image: url(https://www.fintechenigma.no/img/FE.svg);
    background-size: cover;
    position: absolute;
    -webkit-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    -moz-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    -o-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
from { left: 0; } to { left: 17rem; }
}
@-moz-keyframes moveX {
from { left: 0; } to { left: 17rem; }
}
@-o-keyframes moveX {
from { left: 0; } to { left: 17rem; }
}
@keyframes moveX {
from { left: 0; } to { left: 17rem; }
}

@-webkit-keyframes moveY {
from { top: 0; } to { top: 10rem; }
}
@-moz-keyframes moveY {
from { top: 0; } to { top: 10rem; }
}
@-o-keyframes moveY {
from { top: 0; } to { top: 10rem; }
}
@keyframes moveY {
from { top: 0; } to { top: 10rem; }
}