.mac{
    list-style-type: ' 💻 ';
    margin-top: -1rem;
}

.chart{
    list-style-type: ' 📈 ';
    margin-top: -1rem;
}

.bot{
    list-style-type: ' 🤖 ';
    margin-top: -1rem;
}

.handshake{
    list-style-type: ' 🤝 ';
    margin-top: -1rem;
}