.lederDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.leder{
    width: 10rem;
    height: 10rem;
    text-align: center;
    margin: auto;
    margin-bottom: 5rem;
    cursor: pointer;
}

.circle{
    margin: auto;
    width: 9rem;
    height: 9rem;
    position: relative;
    border: solid #1a759b 2px;
    border-radius: 50%;
    transition: 250ms;
}

.circle:hover{
    opacity: 0.75;
    width: 9.5rem;
}

.leder>h3, .leder>h4{
    font-weight: 450;
    margin: 0;
}