/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* background-color: #1a759b; */
  background-image: url('/img/Bubbles.jpeg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color:black; 
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9f8ff;
}

.buttons>a{
  background-color: #06ADF4;
  transition: 250ms;
}
.buttons>a:hover{
  background-color: #10b7ff;
}